services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      TZ: Europe/Rome

  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    network_mode: host
    environment:
      TZ: Europe/Rome
      FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
      FTLCONF_dns_listeningMode: all
      FTLCONF_webserver_port: 8080
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
      - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  dashboard:
    container_name: dashboard
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./dashboard:/usr/share/nginx/html:ro
    restart: unless-stopped

  wg-easy:
    container_name: wg-easy
    image: ghcr.io/wg-easy/wg-easy
    network_mode: host
    environment:
      WG_HOST: 2.229.233.252
      PASSWORD_HASH: ${WG_PASSWORD_HASH}
      WG_DEFAULT_DNS: 192.168.1.10
      WG_PORT: 51820
      PORT: 51821
      WG_POST_UP: iptables -t nat -A POSTROUTING -s 10.8.0.0/24 -j MASQUERADE
      WG_POST_DOWN: iptables -t nat -D POSTROUTING -s 10.8.0.0/24 -j MASQUERADE
    volumes:
      - ./wireguard:/etc/wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped

  koreader-sync:
    container_name: koreader-sync
    image: koreader/kosync:latest
    ports:
      - "7200:7200"  # Changed from 8084:8080
    environment:
      - ENABLE_USER_REGISTRATION=true
    volumes:
      - ./koreader-sync/logs/app:/app/koreader-sync-server/logs
      - ./koreader-sync/logs/redis:/var/log/redis
      - ./koreader-sync/data/redis:/var/lib/redis
    restart: unless-stopped
